@model Order

<div style="align-content:center;justify-content:center;display:flex; margin-top:20%" class="container">
  <div class="centered">
     <h1>Thank you for placing the order!</h1>
    @if (Model != null)
    {
        <br />
        <center> 
                <a class="btn btn-primary" asp-controller="Order" asp-action="InvoiceList" asp-route-orderId="@Model.OrderId">View Invoice</a>
        </center>
    }
    else
    {
        <p>Order not found.</p>
    }
   </div>

</div>
