@{
    ViewData["Title"] = "Thank You";
}
<html>
<head>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%; /* Adjust as necessary */
            width: 100%;
           
        }

        .centered {
            text-align: center; /* Optional: center the text inside the div */
            margin-top:30%;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="centered">
            <h1>Your order has been placed successfully.</h1>
            <h2>Thank You for Shopping with us!</h2>
        </div>
    </div>
    
</body>
</html>
